In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("merch_sales.csv")

In [3]:
df.head(10)

,Order ID,Order Date,Product ID,Product Category,Buyer Gender,Buyer Age,Order Location,International Shipping,Sales Price,Shipping Charges,Sales per Unit,Quantity,Total Sales,Rating,Review
0,189440,2024-07-21,BF1543,Clothing,Male,30,New Jersey,No,100,0,100,1,100,4,The delivery team handled the product with care.
1,187385,2024-07-20,BF1543,Clothing,Male,32,Las Vegas,No,100,0,100,1,100,3,Had slight delays but the product was in good ...
2,181844,2024-07-21,BF1544,Other,Female,26,Cardiff,Yes,9,40,49,1,49,2,Waste of Money.
3,197934,2024-08-19,BF1544,Other,Male,28,Pittsburgh,No,9,0,9,2,18,3,Had slight delays but the product was in good ...
4,122470,2024-01-06,BF1545,Other,Female,19,Miami,No,10,0,10,3,30,5,Lack of delivery delays is greatly appreciated.
5,199680,2024-06-01,BF1546,Clothing,Male,29,Sydney,Yes,118,100,218,1,218,1,The product had an underwhelming design.
6,130929,2024-03-06,BF1547,Ornaments,Male,32,Memphis,No,32,0,32,3,96,4,Premium quality as usual.
7,164427,2024-04-16,BF1547,Ornaments,Male,26,Miami,No,32,0,32,2,64,3,Not as expected.
8,149510,2024-05-22,BF1545,Other,Female,26,New York,No,10,0,10,1,10,4,Lack of delivery delays is greatly appreciated.
9,176280,2024-02-27,BF1548,Clothing,Male,20,Sydney,Yes,65,100,165,1,165,4,Great design is one of the major positives of ...